
@import url('https://fonts.googleapis.com/css?family=Acme');
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
} 
#title{
	text-align: center;
	font-family: 'Acme', sans-serif;
	font-size: 60px;
	margin-top: 30px;
}
html{
   background-color: rgba(20,187,204,0.8);
}
table{

	display: flex;
	justify-content: center;
	border: none;
	width: 50%;
	background-color: rgba(255,255,255,0.5);
	margin-left: 26%;

}
a{
	margin-left: 700px;
	position: fixed;
	top: 100px;
	background-color: white;
	text-decoration: none;
	color: black;
	font-size: 30px;
	left: 130px;
	padding: 10px;
	font-weight: 600;
	border-radius: 11px;
}
a:hover{
	background-color: black;
	color: white;
		transition: all 250ms cubic-bezier(.17,.67,0,0);
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0, 0);
    transition-delay: initial;

}
